# ─── Base de datos ───────────────────────────────
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=dale1mano_db

# ─── JWT ─────────────────────────────────────────
JWT_SECRET_KEY=dale1mano_super_secreto_2026
JWT_EXPIRATION_H=24

# ─── Flask ───────────────────────────────────────
FLASK_DEBUG=true
